<ion-header>
  <ion-toolbar>
    <ion-title>Acerca de</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Qué es SMPP?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <p>
          El SMPP es el sistema de mantenimiento programado preventivo. Es un
          software diseñado por alumnos de la cátedra Administración de Centros
          de Cómputo, en la Universidad de El Salvador, FMOcc.
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Para que sirve SMPP?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <p>
          Puedes manejar ordenes de trabajo, agregar proveedores, nuevo equipo,
          recurso humano, ordenes de compra... entre otras funciones.
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Quienes somos?</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        <p>
          Estudiantes de la Universidad de El Salvador, Facultad
          Multidisciplinaria de Occidente. En la cátedra Administración de
          Centros de Cómputo. <br />
          <br />
          Arana Elmer <br />
          Hernandez Celina <br />
          Soriano Cesar
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
