.color{
    background-color: #B8860B !important;
    color: #ffffff !important; 
    border-color: #000000; 
    ;}
ion-title{
    background-color: #B8860B !important;
    font-size: 1.5em;
    color: #F0F8FF !important;
    border-color: #000000;
    border-color: #000000;
    text-rendering: auto; 
    ;}
.color2{
    background-color: #f7c250 !important;
    ;}
.letra{
    color: #000000 !important;
    ;}
ion-card-content{
    background-color: #DEB887 !important;
    ;}
