<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="folder-outline"></ion-icon>
      <ion-label>Equipo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Recurso Humano</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="card-outline"></ion-icon>
      <ion-label>Proveedores</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="procedimiento">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Procedimiento</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
