.color{
    background-color: #B8860B !important
    
    ;}
ion-title{
    font-size: 2.5em;
    color: #F0F8FF !important;
    border-color: #000000;
    text-rendering: auto; 
    ;}
.color2{
    background-color: #f7c250 !important;
    ;}
.letra{
    color: #000000 !important;
    ;}