<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Recurso humano </ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="nuevoRecurso()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of recursoHumano">
    <ion-card-header>
      <ion-card-title> {{item.observaciones}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        Apellido: {{item.apellido}} <br />
        Nombre: {{item.nombre}} <br />
        Contacto: {{item.telefono}}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
