<ion-header [translucent]="true">
  <ion-toolbar class="color">
    <ion-title class="ion-text-center ion-text-uppercase color tamanoInv"> Recurso humano </ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="nuevoRecurso()">
        <ion-icon name="add-outline" class="iconM"></ion-icon>
      </ion-button>
      <ion-menu-button class="menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of recursoHumano" class="color">
    <ion-card-header>
      <ion-card-title class="ion-text-uppercase"> {{item.observaciones}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        Apellido: {{item.apellido}} <br />
        Nombre: {{item.nombre}} <br />
        Contacto: {{item.telefono}}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
