

  <ion-header [translucent]="true">

    
    <ion-toolbar class="color">
        <ion-title class="ion-text-center ion-text-uppercase color tamanoInv"> Inventario </ion-title>     
        <ion-buttons slot="end">
          <ion-button color="sucess" (click)="nuevoEquipo()">
            
            <ion-icon name="add-outline"  class="iconM"></ion-icon>
          </ion-button>
          <ion-menu-button class="menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
  
  
  </ion-header>
  
<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of equipo" class="color">
    <ion-card-header>
      <ion-card-title class="ion-text-uppercase"> {{item.equipo}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text>
        Codigo: {{item.idEquipo}} <br />
        Cantidad: {{item.cantidad}} <br />
        Descipcion: {{item.descripcion}} <br />
        Observaciones: {{item.observaciones}}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
