ion-card-content{
    background-color: #DEB887 !important
    
;}
ion-title{
    color: #F0F8FF !important 
;}
ion-text{
    color: #000000 !important; 
    font-size: 1em;
;}

ion-header{
    background-color: #7FFFD4 !important

    ;}
ion-card-title{
    color: #F0F8FF !important;
    font-size: 1em
    ;}
.color{
    background-color: #B8860B !important
;}
.tamanoInv{
    font-size: 2em;
    ;}

.iconM{
    background-color: #000000 !important;
    font-size: 3em;
    
    ;}
.menu{
    font-size: 4em;
    ;}
