<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inventario </ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="nuevoEquipo()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of equipo">
    <ion-card-header>
      <ion-card-title> {{item.equipo}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        Codigo: {{item.idEquipo}} <br />
        Cantidad: {{item.cantidad}} <br />
        Descipcion: {{item.descripcion}} <br />
        Observaciones: {{item.observaciones}}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
