<ion-header>
  <ion-toolbar>
    <ion-title class="color">Nuevo proveedor</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="proveedorForm" (ngSubmit)="registrar()">
    <div class="">
      <div class="divider"></div>
      <ion-list class="line-input center contenedor color2">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="letra">
                <ion-icon name="build-outline"></ion-icon>Proveedor
              </ion-label>
              <ion-input
                class="ion-text-right"
                formControlName="txtProveedor"
              ></ion-input>
            </ion-item>
            <div class="divider"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="letra">
                <ion-icon name="location-outline"></ion-icon>Direccion
              </ion-label>
              <ion-textarea
                rows="5"
                class="ion-text-right"
                formControlName="txtDireccion"
              ></ion-textarea>
            </ion-item>
            <div class="divider"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="letra">
                <ion-icon name="call-outline"></ion-icon>Telefono
              </ion-label>
              <ion-input
                type="tel"
                required
                mask="00000000"
                class="ion-text-right"
                formControlName="txtTelefono"
                required
              ></ion-input>
            </ion-item>
            <div class="divider"></div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="letra">
                <ion-icon name="pencil-outline"></ion-icon>Observaciones
              </ion-label>
              <ion-textarea
                rows="5"
                class="ion-text-right"
                type="text"
                formControlName="txtObservaciones"
              ></ion-textarea>
            </ion-item>
            <div class="divider"></div>
          </ion-col>
        </ion-row>
        <ion-row class="buttons">
          <ion-col size="6">
            <ion-button
              shape="round"
              expand="block"
              class="boton"
              (click)="limpiar()"
              >Cancelar
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button
              shape="round"
              expand="full"
              class="boton2"
              (click)="registrar()"
              >Registrar</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
  </form>
</ion-content>
