<ion-header>
  <ion-toolbar class="color">
    <ion-title class="ion-text-center ion-text-uppercase color tamanoInv">Procedimiento</ion-title>
    <ion-buttons slot="end">
      <ion-button color="success" (click)="nuevoProcedimiento()">
        <ion-icon name="add-outline" class="iconM"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of procedimiento" class="color">
    <ion-card-header>
      <ion-card-title class="ion-text-uppercase"> {{item.procedimiento}} </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="dark">
        Codigo: {{item.idProcedimiento}} <br />
        Descipcion: {{item.descripcion}} <br />
        Observaciones: {{item.observaciones}}
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
